<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%x%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="stdout" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
    </Loggers>
</Configuration>